body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #282c34;
  min-height: calc(100vh - 30px);
  overflow-x: hidden;
  color: white;
}

#root {
  height: calc(100vh - 30px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
